*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#F1F5F9;

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

padding:20px;

}

.auth-container{

width:100%;

display:flex;

justify-content:center;

}

.auth-card{

background:white;

width:100%;

max-width:450px;

padding:40px;

border-radius:20px;

box-shadow:0 15px 40px rgba(0,0,0,.08);

}

.logo{

text-align:center;

margin-bottom:30px;

}

.logo i{

font-size:60px;

color:#1E3A5F;

margin-bottom:15px;

}

.logo h2{

color:#1E3A5F;

margin-bottom:8px;

}

.logo p{

color:#64748B;

}

.input-group{

margin-bottom:20px;

}

.input-group label{

display:block;

margin-bottom:8px;

font-weight:500;

}

.input-box{

display:flex;

align-items:center;

border:1px solid #CBD5E1;

border-radius:12px;

padding:12px 15px;

}

.input-box i{

color:#64748B;

}

.input-box input{

flex:1;

border:none;

outline:none;

padding-left:10px;

font-size:15px;

}

.toggle-password{

cursor:pointer;

}

.btn{

width:100%;

background:#1E3A5F;

color:white;

border:none;

padding:15px;

border-radius:12px;

font-size:16px;

cursor:pointer;

transition:.3s;

margin-top:10px;

}

.btn:hover{

background:#16324F;

}

.bottom-text{

text-align:center;

margin-top:25px;

}

.bottom-text a{

color:#2563EB;

text-decoration:none;

font-weight:600;

}

@media(max-width:480px){

.auth-card{

padding:25px;

}

.logo i{

font-size:50px;

}

}